:root {
  --color-white: #FFFFFF;
  --color-blue: #3670C7;
  --color-header: #2D2D2D;
  --color-grey: #EFEFEF;
  --color-dark-grey: #8F8F8F;
  --color-light-blue: #38C0EB;
  --color-pink: #F91155;
  --color-yellow: #FFBD13;
}
